{% for object in objects %}
class {{ object.name }}Selection {
  {% for field in object.fields %}
  bool select{{ field.name | capitalize }} = false; 
  {% endfor %}

  {{ object.name }}Selection({
    {% for field in object.fields %}
    this.select{{ field.name | capitalize }} = false,  
    {% endfor %}
  });

  // Method to select fields dynamically
  void selectField(String fieldName) {
    switch (fieldName) {
      {% for field in object.fields %}
      case '{{ field.name }}':
        select{{ field.name | capitalize }} = true;
        break;
      {% endfor %}
      default:
        throw Exception('Unknown field: $fieldName');
    }
  }

  // Convert the selected fields into a map (optional)
  Map<String, bool> getSelectedFields() {
    return {
      {% for field in object.fields %}
      '{{ field.name }}': select{{ field.name | capitalize }},
      {% endfor %}
    };
  }
}

class {{ object.name }} {
  {% for field in object.fields %}
  final {{ field.type_name }}{% if not field.required %}?{% endif %} {{ field.name }};
  {% endfor %}

  {{ object.name }}({
    {% for field in object.fields %}
    {% if field.required %}required {% endif %}this.{{ field.name }},
    {% endfor %}
  });

  factory {{ object.name }}.fromJson(Map<String, dynamic> json) {
    return {{ object.name }}(
      {% for field in object.fields %}
      {{ field.name }}: {% if field.type_name == "DateTime" %}{% if field.required %}DateTime.parse(json['{{ field.name }}'] as String){% else %} json['{{ field.name }}'] != null ? DateTime.parse(json['{{ field.name }}'] as String) : null {% endif %} {% elif field.type_name in ["int", "double", "bool", "String"] %}json['{{ field.name }}'] as {{ field.type_name }}{% if not field.required %}?{% endif %}{% else %}json['{{ field.name }}'] != null ? {{ field.type_name }}.fromJson(json['{{ field.name }}'] as Map<String, dynamic>) : null{% endif %},
      {% endfor %}
    );
  }

  Map<String, dynamic> toJson() {
    return {
      {% for field in object.fields %}
      '{{ field.name }}': {% if field.type_name == "DateTime" %}{{ field.name }}?.toIso8601String(){% elif field.type_name in ["int", "double", "bool", "String"] %}{{ field.name }}{% else %}{{ field.name }}?.toJson(){% endif %},
      {% endfor %}
    };
  }

  @override
  bool operator ==(Object other) {
    if (identical(this, other)) return true;
    return other is {{ object.name }}
      {% for field in object.fields %}
      && other.{{ field.name }} == {{ field.name }}{% if not loop.last %}{% endif %}
      {% endfor %};
  }

  @override
  int get hashCode => Object.hashAll([
    {% for field in object.fields %}
      {{ field.name }}{% if not loop.last %},{% endif %}
    {% endfor %}
  ]);
}
{% endfor %}