{% include "macros" %}

{% set op_variables = context.operation.variables %}
{% set op_variables_exist = context.operation.variables | length > 0 %}
{% set typedefs = context.operation.typedefs %}
{% set is_observe = context.operation.observe %}


// ignore_for_file: constant_identifier_names, non_constant_identifier_names, unused_import, camel_case_types, unnecessary_this, unnecessary_non_null_assertion, depend_on_referenced_packages, empty_statements, annotate_overrides, no_leading_underscores_for_local_identifiers, unnecessary_cast, camel_case_extensions

import "{{ context.schema_import_path }}";
{{ custom_scalar_imports_macro(context.custom_scalar_imports) }}
{% set OP_TYPE = context.operation.op_ty.name|upper %}

import 'package:shalom/shalom.dart' as shalom_core;
import 'package:collection/collection.dart';
import 'package:meta/meta.dart' show experimental;

// Fragment imports
{% for import_path in generate_fragment_imports(context.operation.file_path) -%}
import '{{ import_path }}';
{% endfor -%}

{% set operation_name = context.operation.operation_name %}

{% include "selection_macros" %}

// ------------ OBJECT DEFINITIONS -------------
{% set response_class_name = operation_name ~ "Response" %}
class {{ response_class_name }} {{ implements_used_fragments(context.operation.root_type.used_fragments) }}  {
    {{ selection_object_impl(response_class_name, context.operation.root_type, is_root_selection=true, full_name=context.operation.root_type.path_name, shared_selections=context.operation.root_type.selections) }}
}

{% for name, obj in typedefs.objects | items %}
    {{ selection_object_definition(obj) }}
{% endfor %}

// ------------ END OBJECT DEFINITIONS -------------


// ------------ UNION DEFINITIONS -------------

{% set union_types = typedefs.unions %}
{% for union_full_name, union_selection in union_types | items %}
    {% set concretes = multitype_selection_resolved_concretes(union_full_name) -%}
    {# generate sealed classes #}
    {{ multi_type_selection_definition(union_full_name, union_selection, concretes) }}

    {# generate subsets #}
    {% for concrete_subset in concretes -%}
        class {{ concrete_subset.path_name }} extends {{ union_full_name }} {{implements_used_fragments(concrete_subset.used_fragments)}} {
            {{ selection_object_impl(concrete_subset.path_name, concrete_subset, is_root_selection=false, full_name=concrete_subset.path_name, is_multi_type_member=true, shared_selections=concrete_subset.selections) }}
        }
    {% endfor %}
{% endfor %}

// ------------ END UNION DEFINITIONS -------------

// ------------ INTERFACE DEFINITIONS -------------

{% for iface_path_name, iface_selection in typedefs.interfaces | items %}
    {% set concretes = multitype_selection_resolved_concretes(iface_path_name) -%}
    {# generate sealed classes #}
    {{ multi_type_selection_definition(iface_path_name, iface_selection, concretes) }}

    {# generate subsets #}
    {% for concrete_subset in concretes -%}
        class {{ concrete_subset.path_name }} extends {{ iface_path_name }} {{implements_used_fragments(concrete_subset.used_fragments)}}  {
            {{ selection_object_impl(concrete_subset.path_name, concrete_subset, is_root_selection=false, full_name=concrete_subset.path_name, is_multi_type_member=true, shared_selections=concrete_subset.selections) }}
        }
    {% endfor %}
{% endfor %}

// ------------ END INTERFACE DEFINITIONS -------------

{{ generate_multi_type_list_extensions(multi_type_list_selections) }}

{% if is_observe %}
// ------------ V2 WIDGET API -------------

final class {{ operation_name }}Data {
    {% for selection in context.operation.root_type.selections if selection.name != "__typename" -%}
        final {{ type_name_for_selection_with_observe(selection) }} {{ selection.name }};
    {% endfor %}

    const {{ operation_name }}Data({
        {% for selection in context.operation.root_type.selections if selection.name != "__typename" -%}
            required this.{{ selection.name }},
        {% endfor %}
    });

    @experimental
    static {{ operation_name }}Data fromCache(shalom_core.JsonObject data) {
        {% for selection in context.operation.root_type.selections if selection.name != "__typename" -%}
            {% set raw_value_symbol = "data['" + selection.name + "']" -%}
            final {{type_name_for_selection_with_observe(selection)}} {{selection.name}}$value = {{ _deserialize_selection_from_json_macro(raw_value_symbol, selection, selection.is_optional) }};
        {% endfor -%}
        return {{ operation_name }}Data(
            {% for selection in context.operation.root_type.selections -%}
                {% if selection.name != "__typename" %}
                    {{selection.name}}: {{selection.name}}$value,
                {% endif %}
            {% endfor -%}
        );
    }

    shalom_core.JsonObject toJson() {
        return {
            {% for selection in context.operation.root_type.selections %}
                {% set selection_name = selection.name %}
                {% if selection_name == "__typename" %}
                    "__typename": {{ response_class_name }}.G__typename,
                {% else %}
                    '{{ selection_name }}':
                        {% if selection.is_optional %}
                            {{ _serialize_selection_value_macro("this." + selection_name, selection, true) }}
                        {% else %}
                            {{ _serialize_selection_value_macro("this." + selection_name, selection, false) }}
                        {% endif %}
                    ,
                {% endif %}
            {% endfor %}
        };
    }
}

{% if op_variables_exist %}
final class {{ operation_name }}Variables {
    {% set typename = operation_name ~ 'Variables' %}
    {% set fields_requiring_initializer_list = get_fields_requiring_initializer_list(op_variables) %}
    {% for name, variable in op_variables | items %}
        final {{ type_name_for_input_field(variable) }} {{ name }};
    {% endfor %}

    const {{ typename }}(
        {
        {% for name, field in op_variables | items -%}
            {% if name not in fields_requiring_initializer_list -%}
                {{input_field_constructor_initialization(name, field, required_initializer=false)}},
            {% endif -%}
        {% endfor -%}
        {% for name, field in fields_requiring_initializer_list | items -%}
            {{input_field_constructor_initialization(name, field, required_initializer=true)}},
        {% endfor -%}
        }
    ){{ field_initialization_initializers(op_variables) }};

    shalom_core.JsonObject toJson() {
        shalom_core.JsonObject data = {};
        {{ toJson_macro(op_variables) }}
        return data;
    }

    @override
    bool operator ==(Object other) {
        return identical(this, other) || (other is {{ typename }}
            {% for name, field in op_variables | items %}
                && {{ selection_equality_comparison_macro(field, "this." + name, "other." + name) }}
            {% endfor %}
        );
    }

    @override
    int get hashCode => Object.hash(
        {% for name, field in op_variables | items %}
            {{ name }},
        {% endfor %}
    );
}
{% endif %}

// ------------ END V2 WIDGET API -------------
{% else %}
class Request{{ operation_name }} extends shalom_core.Requestable<{{operation_name}}Response>{
    {% if op_variables_exist %}
    final {{ operation_name }}Variables variables;
    {% endif %}

    Request{{ operation_name }}(
        {% if op_variables_exist %}
        {
            required this.variables,
        }
        {% endif %}
    );
    @override
    shalom_core.RequestMeta<{{operation_name}}Response> getRequestMeta(){
        shalom_core.JsonObject variablesJson = {% if op_variables_exist %} variables.toJson() {% else %} {}  {% endif %};
        final request = shalom_core.Request(
            query: r"""
            {{context.resolved_query}}
            """,
            variables: variablesJson,
            opType: shalom_core.OperationType.{{ context.operation.op_ty.name }},
            opName: '{{ operation_name }}',
        );
        return shalom_core.RequestMeta(
            request: request,
            parseFn: (shalom_core.JsonObject data) => {{operation_name}}Response.fromJson(data),
        );
    }
}

{% if op_variables_exist %}
class {{ operation_name }}Variables {
    {% set typename = operation_name ~ 'Variables' %}
    {% set fields_requiring_initializer_list = get_fields_requiring_initializer_list(op_variables) %}
    {% for name, variable in op_variables | items %}
        final {{ type_name_for_input_field(variable) }} {{ name }};
    {% endfor %}

    {{ typename }}(
        {
        {% for name, field in op_variables | items -%}
            {% if name not in fields_requiring_initializer_list -%}
                {{input_field_constructor_initialization(name, field, required_initializer=false)}},
            {% endif -%}
        {% endfor -%}
        {% for name, field in fields_requiring_initializer_list | items -%}
            {{input_field_constructor_initialization(name, field, required_initializer=true)}},
        {% endfor -%}
        }
    ){{ field_initialization_initializers(op_variables) }};

    shalom_core.JsonObject toJson() {
        shalom_core.JsonObject data = {};
        {{ toJson_macro(op_variables) }}
        return data;
    }

    {{ updateWith_macro(op_variables, typename) }}

}
{% endif %}
{% endif %}
