// ignore_for_file: constant_identifier_names, non_constant_identifier_names, unused_import, unnecessary_this, unnecessary_non_null_assertion, depend_on_referenced_packages, camel_case_types
{% include "macros" %}
{% if schema.context.types.inputs | length > 0 %}
import 'package:shalom_core/shalom_core.dart' as shalom_core;
{% endif %}
{{ custom_scalar_imports_macro(custom_scalar_imports) }}






// ------------ Enum DEFINITIONS -------------
{% for _, enum in schema.context.types.enums | items %}
     {% set typename = enum.name %}
     {{docstring(enum.description)}}
     enum {{ typename }}  {
          {% for name, value in enum.members | items -%}
                {{docstring(value.description)}}
                {{ name }} {{"," if not loop.last else ";"}}
          {% endfor %}

          static {{ typename }} fromString(String name) {
              switch (name) {
                  {% for name, _ in enum.members | items %}
                  case '{{ name }}':
                    return {{ typename }}.{{name}};                   {% endfor %}
                  default:
                      throw ArgumentError.value(name, 'name', 'No enum member with this name');
              }
          }

      }
{% endfor %}
// ------------ END Enum DEFINITIONS -------------
// ------------ Input DEFINITIONS -------------
{% for _, input_object in schema.context.types.inputs | items %}
{% set typename = input_object.name %}
{% if input_object.is_one_of %}
{{docstring(input_object.description)}}
sealed class {{ typename }} {
  shalom_core.JsonObject toJson();

  {% for field_name, field in input_object.fields | items -%}
  static {{ typename }} {{ field_name }}({{ type_name_for_one_of_input_field(field) }} value) => _{{ typename }}_{{ field_name }}(value);

  {% endfor -%}
  @override
  String toString() {
    return toJson().toString();
  }
}

{% for field_name, field in input_object.fields | items %}
class _{{ typename }}_{{ field_name }} implements {{ typename }} {
  final {{ type_name_for_one_of_input_field(field) }} value;

  const _{{ typename }}_{{ field_name }}(this.value);

  @override
  shalom_core.JsonObject toJson() {
    {% set field_ty = resolve_field_type(field.common).ty -%}
    return {'{{ field_name }}': {{ _serialize_field_value_macro("value", field_ty, false) }}};
  }

  @override
  bool operator ==(Object other) =>
      identical(this, other) || (other is _{{ typename }}_{{ field_name }} && value == other.value);

  @override
  int get hashCode => value.hashCode ^ runtimeType.hashCode;
}

{% endfor %}
{% else %}
{% set fields_requiring_initializer_list = get_fields_requiring_initializer_list(input_object.fields) %}

{{docstring(input_object.description)}}
class {{ typename }} {
    {% for name, field in input_object.fields | items -%}
        final {{ type_name_for_input_field(field) }} {{ name }};
    {% endfor -%}
    {{ typename }}(
        {
        {% for name, field in input_object.fields | items -%}
            {% if name not in fields_requiring_initializer_list -%}
                {{input_field_constructor_initialization(name, field, false)}},
            {% endif -%}
        {% endfor -%}
        {% for name, field in fields_requiring_initializer_list | items -%}
            {{input_field_constructor_initialization(name, field, true)}},
        {% endfor -%}
        }
    ){{ field_initialization_initializers(input_object.fields) }};

    shalom_core.JsonObject toJson() {
        shalom_core.JsonObject data = {};
        {{ toJson_macro(input_object.fields) }}
        return data;
    }

    @override
    String toString() {
        return toJson().toString();
    }

  {{ updateWith_macro(input_object.fields, typename) }}
}

{% endif %}
{% endfor %}
// ------------ END Input DEFINITIONS -------------
