name: docs

on:
    push:
        branches:
            - main
    workflow_dispatch:

permissions:
    contents: write

jobs:
    build-and-publish:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.11"

            - name: Set up uv
              uses: astral-sh/setup-uv@v3

            - name: Install docs dependencies
              run: uv sync

            - name: Publish docs
              run: uv run -- mkdocs gh-deploy --force --clean
